.events {
  background-color: #fcfcfc;
  padding: 40px;
  width: 98%;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 60px;
  overflow: auto;
}
@media (max-width: 1700px) {
  .events {
    padding: 30px;
    gap: 50px;
  }
}
@media (max-width: 1450px) {
  .events {
    padding: 20px;
    gap: 40px;
  }
}
.events h2 {
  font-size: 30px;
  color: #064a37;
}
@media (max-width: 1700px) {
  .events h2 {
    font-size: 28px;
  }
}
@media (max-width: 1450px) {
  .events h2 {
    font-size: 25px;
  }
}
.events .eventDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5vh;
  flex-wrap: wrap;
}
.events .eventDetails .eventCard {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1700px) {
  .events .eventDetails .eventCard {
    gap: 20px;
  }
}
.events .eventDetails .eventCard .event-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.events .eventDetails .eventCard .event-card-details .event-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.events .eventDetails .eventCard .event-card-details .event-data label, .events .eventDetails .eventCard .event-card-details .event-data p {
  font-weight: 500;
  font-size: 18px;
  color: #064a37;
}
@media (max-width: 1700px) {
  .events .eventDetails .eventCard .event-card-details .event-data label, .events .eventDetails .eventCard .event-card-details .event-data p {
    font-size: 16px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .eventCard .event-card-details .event-data label, .events .eventDetails .eventCard .event-card-details .event-data p {
    font-size: 14px;
  }
}
.events .eventDetails .eventCard .event-card-details .event-data input,
.events .eventDetails .eventCard .event-card-details .event-data textarea {
  padding: 0 5px;
  width: 50%;
  border: 1px solid #707070;
  border-radius: 4px;
  height: 30px;
  outline: none;
  font-size: 14px;
}
@media (max-width: 1450px) {
  .events .eventDetails .eventCard .event-card-details .event-data input,
  .events .eventDetails .eventCard .event-card-details .event-data textarea {
    font-size: 13px;
    height: 25px;
  }
}
.events .eventDetails .eventCard .event-card-details .event-data textarea {
  height: 50px;
}
.events .eventDetails .eventCard button {
  background-color: #0a3e2f;
  color: #fcfcfc;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  align-self: center;
}
@media (max-width: 1700px) {
  .events .eventDetails .eventCard button {
    height: 35px;
    font-size: 16px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .eventCard button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
}
.events .eventDetails .displayCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  align-items: flex-start;
  gap: 70px;
}
.events .eventDetails .displayCard .card {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.events .eventDetails .displayCard .card .event-render-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.events .eventDetails .displayCard .card .event-render-data label {
  font-weight: 500;
  font-size: 18px;
  color: #064a37;
}
@media (max-width: 1700px) {
  .events .eventDetails .displayCard .card .event-render-data label {
    font-size: 16px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .displayCard .card .event-render-data label {
    font-size: 14px;
  }
}
.events .eventDetails .displayCard .card .event-render-data p {
  width: 50%;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 4px;
  color: rgba(34, 86, 73, 0.8392156863);
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 1700px) {
  .events .eventDetails .displayCard .card .event-render-data p {
    font-size: 16px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .displayCard .card .event-render-data p {
    font-size: 14px;
  }
}
.events .eventDetails .displayCard .card .event-render-data img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
@media (max-width: 1700px) {
  .events .eventDetails .displayCard .card .event-render-data img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .displayCard .card .event-render-data img {
    height: 80px;
    width: 80px;
  }
}
.events .eventDetails .displayCard .card button {
  background-color: #0a3e2f;
  color: #fcfcfc;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  align-self: center;
}
@media (max-width: 1700px) {
  .events .eventDetails .displayCard .card button {
    height: 35px;
    font-size: 16px;
  }
}
@media (max-width: 1450px) {
  .events .eventDetails .displayCard .card button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
}
.events .choosing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: center;
}

.uploading-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #0a3e2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1700px) {
  .uploading-image {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 1700px) {
  .uploading-image {
    width: 60px;
    height: 60px;
  }
}
.uploading-image .uploading-icon {
  width: 40px;
  height: 40px;
}
@media (max-width: 1700px) {
  .uploading-image .uploading-icon {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=JoinourEventCards.css.map */