.accordian-header {
  display: flex;
  flex-direction: column;
  justify-content: left;

  .rev {
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0.16px;
    color: #171717;
  }
}

.accordion-content-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  width: 100%;
  .head-sec {
    display: none;
    @media (max-width: 600px) {
      display: block;
      width: 100%;

      h3 {
        font: normal normal medium 18px/36px Poppins;
        letter-spacing: 0px;
        color: #225649;
      }
    }
  }
  .accordial-Contetnt {
    width: 100%;
  }

  .revenu-detail {
    display: flex;
    // gap:20px;
    width: 100%;
    padding: 20px;
    background-color: #ededed;
    @media (max-width: 650px) {
      flex-direction: column;
      gap: 20px;
    }
    .Revenue-table {
      background-color: white;
      width: 25%;
      @media (max-width: 650px) {
        width: 100%;
        background-color: #ededed;
      }
      .table-style {
        background-color: white;
        @media (max-width: 650px) {
          background-color: #ededed;
        }
      }

      .button {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          background-color: #2a9d8f;
          color: white;
          text-align: center;
          padding: 3px;
        }
      }
    }
    .Revenue-Graph {
      width: 80%;
      @media (max-width: 650px) {
        width: 100%;
      }
      .revenue-graph {
        height: 100%;
      }
    }
  }
}
