
    .Revnuemainclass{
        padding-bottom: 20px;


        circle{
            color: orange;
            fill: orange;
        }
    }


.recharts-line-dots{
    circle{
        stroke: orange;
        fill: orange;
    }
}




