// .xaxisunits{
//     position:relative;
//     left: 635px;
//     top: 375px;
// }
// .yaxisunits{
//   position: relative;
//     top: 40px;
//     left: 20px;
//     writing-mode: vertical-lr;
//     transform:rotate(180deg);
// }

// .chart-main-sections{
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     background-color: #EDEDED66;
//     height: 600px;

   
// }
// .Revnuemainclass{
//     height: 50%;
//     width: 100%;
// }
.chart-main{
   svg{
      width: 100%;
      height: 100%;
      @media(max-width:600px){
      margin-top: 20px;
      }
      @media(max-width:493px){
        margin-left: -28px;
        }
   }

.xaxisunits p{
    position: absolute;
    left:31rem;
    font: normal normal medium 12px/18px Poppins;
    font-weight: 600;
    font-size: 12px;
    @media(max-width: 1700px){
      left: 25rem;
    }
    @media(max-width: 1400px){
      left: 22rem;
    }
    @media(max-width: 1090px){
      left: 31rem;
    }
    @media(max-width: 960px){
      left: 25rem;
    }
    @media(max-width: 830px){
      left: 23rem;
    }
    @media(max-width: 784px){
      left: 21rem;
    }
    @media(max-width: 710px){
      left: 19rem;
      font-size: 11px;
    }
    @media(max-width: 630px){
      left: 17rem;
    }
    @media(max-width: 600px){
      left: 17rem;
      bottom: -34px;
    }
    @media(max-width: 558px){
      left: 15rem;
    }
    @media(max-width: 500px){
      left: 13rem;
    }
    @media(max-width: 456px){
      left: 10rem;
    }
    @media(max-width: 410px){
      left: 8rem;
    }
    @media(max-width: 360px){
      left: 6rem;
    }
 }
 .yaxisunits p{
    position: absolute;
    bottom: 9.5rem;
    left: -2.8rem;
    transform: rotate(-90deg);
    font: normal normal medium 12px/18px Poppins;
    font-size: 12px;
    font-weight: 600;
    @media(max-width: 1600px){
      bottom: 8.5rem;
    }
    @media(max-width: 1400px){
      bottom: 7.5rem;
    }
    @media(max-width: 1090px){
      bottom: 9.5rem;
      left: -2rem;
    }
    @media(max-width: 840px){
      bottom: 8.5rem;
    }
    @media(max-width: 763px){
      bottom: 7.5rem;
    }
    @media(max-width: 700px){
      bottom: 6.5rem;
      font-size: 11px;
    }
    @media(max-width: 600px){
      bottom: 5rem;
      font-size: 11px;
    }
    @media(max-width: 588px){
      bottom: 4.5rem;
      font-size: 11px;
    }
    @media(max-width: 530px){
      font-size: 10px;
      bottom: 4rem;
    }
    @media(max-width: 500px){
      font-size: 10px;
      bottom: 3rem;
    }
    @media(max-width: 493px){
      // bottom: 4rem;
      font-size: 9px;
      left: -2.5rem;
          }
          @media(max-width: 433px){
            bottom: 2.5rem;
            font-size: 7px;
          }
 }

    position: relative;
 }