.FundingInformation{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    // margin: 20px;
    padding: 20px;
    background-color: #FCFCFC;
    h2{
      margin-left: 35px;
  }
  h3{
    
      font-size: 28px;
     
    
      @media (max-width: 1700px) {
        font-size: 26px;
      }
      @media (max-width: 1500px) {
        font-size: 25px;
      }
      @media (max-width: 1300px) {
        font-size: 24px;
      }
      @media (max-width: 1000px) {
        font-size: 23px;
      }
      @media (max-width: 800px) {
        font-size: 21px;
        
      }
      @media (max-width: 580px) {
        font-size: 20px;
      }
      @media (max-width: 400px) {
        font-size: 19px;
      }
      @media (max-width: 360px) {
        font-size: 18px;
      }
  
  }

    form{
        // width: 80%;
        display: flex;
        flex-direction: column;
        gap:2rem;
        
       
        
       .inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        // gap:2rem;

        @media(max-width:590px){
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 2rem;
        }
        #fundinground{
       
          width: 540px;
          @media(max-width: 1600px){
            width: 450px;
          }
          @media(max-width: 1450px){
            width: 415px;
          }
          @media(max-width: 1450px){
            width: 421px;
          }
          @media(max-width: 1130px){
            width: 327px;
          }
          @media(max-width: 860px){
            width: 266px;
          }
          @media(max-width: 750px){
            width: 215px;
          }
          @media(max-width: 690px){
            width: 195px;
          }
          @media(max-width: 630px){
            width: 165px;
          }
          @media(max-width: 590px){
            width: 536px;
          }
          @media(max-width: 570px){
            width: 527px;
          }
          @media(max-width: 560px){
            width: 516px;
          }
          @media(max-width: 540px){
            width: 499px;
          }
          @media(max-width: 530px){
            width: 485px;
          }
          @media(max-width: 510px){
            width: 465px;
          }
          @media(max-width: 490px){
            width: 445px;
          }
          @media(max-width: 470px){
            width: 425px;
          }
          @media(max-width: 450px){
            width: 412px;
          }
          @media(max-width: 440px){
            width: 395px;
          }
          @media(max-width: 420px){
            width: 380px;
          }
          @media(max-width: 410px){
            width: 365px;
          }
          @media(max-width: 390px){
            width: 350px;
          }
          @media(max-width: 380px){
            width: 340px;
          }
          @media(max-width: 370px){
            width: 330px;
          }
          @media(max-width: 360px){
            width: 320px;
          }
          @media(max-width: 350px){
            width: 310px;
          }
          @media(max-width: 340px){
            width: 300px;
          }
            
        }
        #instrument{
          width: 720px;
          @media(max-width: 1700px){
            width: 669px;
          }
          @media(max-width: 1600px){
            width: 600px;
          }
          @media(max-width: 1450px){
            width: 550px;
          }
          @media(max-width: 1200px){
            width: 470px;
          }
          @media(max-width: 900px){
            width: 440px;
          }
          @media(max-width: 860px){
            width: 425px;
          }
          @media(max-width: 800px){
            width: 400px;
          }
          @media(max-width: 690px){
            width: 375px;
          }
          @media(max-width: 590px){
            width: 536px;
          }
          @media(max-width: 570px){
            width: 527px;
          }
          @media(max-width: 560px){
            width: 516px;
          }
          @media(max-width: 540px){
            width: 499px;
          }
          @media(max-width: 530px){
            width: 485px;
          }
          @media(max-width: 510px){
            width: 465px;
          }
          @media(max-width: 490px){
            width: 445px;
          }
          @media(max-width: 470px){
            width: 425px;
          }
          @media(max-width: 450px){
            width: 412px;
          }
          @media(max-width: 440px){
            width: 395px;
          }
          @media(max-width: 420px){
            width: 380px;
          }
          @media(max-width: 410px){
            width: 365px;
          }
          @media(max-width: 390px){
            width: 350px;
          }
          @media(max-width: 380px){
            width: 340px;
          }
          @media(max-width: 370px){
            width: 330px;
          }
          @media(max-width: 360px){
            width: 320px;
          }
          @media(max-width: 350px){
            width: 310px;
          }
          @media(max-width: 340px){
            width: 300px;
          }
        }

       
       }
       .Inputs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:3rem;
        margin: 0px auto;
        @media(max-width:1700px){
          gap:2rem;
        }
        @media(max-width:1600px){
          gap:1rem;
        }
        @media(max-width:900px){
          grid-template-columns: 1fr 1fr;
        }
        @media(max-width:590px){
          grid-template-columns: 1fr;
          margin: 0;
        }

        label{
          font-size: 20px;
          @media(max-width:1700px){
            font-size: 19px;
          }
          @media(max-width:1500px){
            font-size: 17px;
          }
          @media(max-width:1300px){
            font-size: 16px;
          }
        }

        #radio{
          // width: 0px;
          // height: 0%;

          input{
            width: 50px;
            height: 60%;

           
            
          }
        }


       }
       .input1{
        display: flex;
        flex-direction: column;
        gap:10px;
        width: 750px;
        @media(max-width:1700px){
          width: 718px;
        }
        @media(max-width:1600px){
          width: 690px;
        }
        @media(max-width:1450px){
          width: 600px;
        }
        @media(max-width:1200px){
          width: 500px;
        }
        @media(max-width:900px){
          width: 470px;
        }
        @media(max-width:860px){
          width: 460px;
        }
        @media(max-width:800px){
          width: 419px;
        }
        @media(max-width:690px){
          width: 392px;
        }
        label{
          font-size: 20px;
          @media(max-width:1700px){
            font-size: 19px;
          }
          @media(max-width:1500px){
            font-size: 17px;
          }
          @media(max-width:1300px){
            font-size: 16px;
          }
        }

        input,select{
          width: 400px;
          height: 50px;
         
         
      }
     
     
       }

       .input{
        display: flex;
        flex-direction: column;
        gap:10px;
        label{
          font-size: 20px;
        
            @media(max-width:1700px){
              font-size: 19px;
            }
            @media(max-width:1500px){
              font-size: 17px;
            }
            @media(max-width:1300px){
              font-size: 16px;
            }
            @media(max-width:900px){
              font-size: 15px;
            }
          
        }
        input,select{
            width: 400px;
            height: 50px;
            @media(max-width: 1600px){
              width: 369px;
            }
            @media(max-width: 1450px){
              width: 330px;
            }
            @media(max-width: 1200px){
              width: 295px;
            }
            @media(max-width: 1130px){
              width: 266px;
            }
            @media(max-width: 900px){
              width: 390px;
            }
            @media(max-width: 860px){
              width: 355px;
            }
            @media(max-width: 800px){
              width: 335px;
            }
            @media(max-width: 750px){
              width: 310px;
            }
            @media(max-width: 690px){
              width: 286px;
            }
            @media(max-width: 630px){
              width: 270px;
            }
            @media(max-width: 590px){
              width: 536px;
            }
            @media(max-width: 570px){
              width: 527px;
            }
            @media(max-width: 560px){
              width: 516px;
            }
            @media(max-width: 540px){
              width: 499px;
            }
            @media(max-width: 530px){
              width: 485px;
            }
            @media(max-width: 510px){
              width: 465px;
            }
            @media(max-width: 490px){
              width: 445px;
            }
            @media(max-width: 470px){
              width: 425px;
            }
            @media(max-width: 450px){
              width: 412px;
            }
            @media(max-width: 440px){
              width: 395px;
            }
            @media(max-width: 420px){
              width: 380px;
            }
            @media(max-width: 410px){
              width: 365px;
            }
            @media(max-width: 390px){
              width: 350px;
            }
            @media(max-width: 380px){
              width: 340px;
            }
            @media(max-width: 370px){
              width: 330px;
            }
            @media(max-width: 360px){
              width: 320px;
            }
            @media(max-width: 350px){
              width: 310px;
            }
            @media(max-width: 340px){
              width: 300px;
            }
        }

       }
       select,input{
        background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 5px #26334D08;
border: 1px solid #7070704D;
border-radius: 5px;
padding-left: 20px;
@media(max-width: 420px){
  padding-left: 10px;
}
       }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: 55px;
      button {
        background: #064a37 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 5px #26334d08;
        border-radius: 5px;
        color: #ffffff;
        width: 13%;
        height: 100%;
        text-align: center;
        padding: 2px;
        font-size: 24px;
        @media (max-width: 1700px) {
          font-size: 23px;
        }
        @media (max-width: 1500px) {
          font-size: 22px;
          width: 15%;
        }
        @media (max-width: 1300px) {
          font-size: 21px;
          width: 16%;
        }
        @media(max-width:1000px){
          font-size: 20px;
        }
        @media(max-width:800px){
          font-size: 19px;
          width: 17%;
        }
        @media(max-width:700px){
          font-size: 19px;
          width: 18%;
         
        }
        @media(max-width:600px){
          font-size: 18px;
          width: 19%;
          
        }
        @media(max-width:560px){
          font-size: 18px;
          width: 20%;
          
         
        }
        @media(max-width:533px){
          width: 100%;
          font-size: 22px;
          
        }
        @media(max-width:500px){
          width: 100%;
          font-size: 21px;
          
        }
        
      }
    }
}