.section {
  width: 100%;

  .progresshead {
    font-size: 48px;
    text-align: center;
    padding: 180px 0px 80px;
    color: #225649;

    @media (max-width: 1600px) {
      font-size: 43px;
      padding: 160px 0px 80px;
    }
    @media (max-width: 1450px) {
      font-size: 40px;
      padding: 140px 0px 70px;
    }
    @media (max-width: 1320px) {
      padding: 120px 0px 60px;
      font-size: 30px;
    }

    @media (max-width: 600px) {
      padding: 90px 0px 50px;
      font-size: 27px;
    }

    @media (max-width: 430px) {
      padding: 60px 0px 40px;
      font-size: 24px;
    }

    @media (max-width: 380px) {
      padding: 50px 0px 40px;
      font-size: 24px;
    }
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    transform: translateY(-20px);

    @media (max-width: 1290px) {
      width: 13px !important;
      height: 13px !important;
      transform: translateY(20px);
    }

    @media (max-width: 960px) {
      width: 13px !important;
      height: 13px !important;
      transform: translateY(45px);
    }
    @media (max-width:428px) {
      width: 13px !important;
      height: 13px !important;
      transform: translateY(30px);
    }




    @media (max-width: 400px) {
      width: 12px !important;
      height: 12px !important;
      transform: translateY(-75x);

      @media (max-width: 360px) {
        width: 11px !important;
        height: 11px !important;
      }
    }
  }

  .swiper-button-next {
    right: 45% !important;

    @media (max-width:1920px) {
      right: 46% !important;
    }
    @media (max-width:1600px) {
      right: 48% !important;
    }
    @media (max-width:1380px) {
      right: 47% !important;
    }
}

  .swiper-button-next, .swiper-button-prev {
    width: 60px !important;
    height: 60px !important;
    background-color: #225649;
    border-radius: 50%;
    position: absolute;
    top: 320px !important;
    color: #ffffff !important;

    @media (max-width:1920px) {
      width: 60px !important;
      height: 60px !important;
      top:450px !important;
     
    }
    @media (max-width:1600px) {
      width: 48px !important;
      height:48px !important;
      top:450px !important;
     
    }
    @media (max-width:1350px) {
      width: 45px !important;
      height:45px !important;
      top:400px !important;
     
    }

}



}

.main-bar {
  width: 100%;

  @media (max-width:1920px) {
    width: 76%;
  }
  @media (max-width:1570px) {
    width:85%;
  }

  @media (max-width: 799px) {
    width: 52%;
  }

  @media (max-width: 650px) {
    width: 70%;
  }
  @media (max-width: 560px) {
    width: 75%;
  }
  @media (max-width: 520px) {
    width:73%;
    height: 250px;
  }
  @media (max-width: 420px) {
    width:73%;
    height: 186px;
  }
  @media (max-width: 395px) {
    width: 73%;
    height: 170px;
  }
  @media (max-width: 350px) {
    width: 77%;
    height: 170px;
  }

}

.mainprogress-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.investments-container {
  // width: 490px;
  width: 100%;
  height: 350px;

  border: 1px solid #22564933;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  padding-top: 30px;

  @media (max-width: 1868px) {
    // width: 470px;
    height: 350px;
  }
  @media (max-width: 1800px) {
    // width: 450px;
    height: 350px;
  }
  @media (max-width: 1750px) {
    // width: 460px;
    height: 340px;
  }

  @media (max-width: 1660px) {
    // width: 440px;
    height: 330px;
  }

  @media (max-width: 1570px) {
    width: 100%;
    height: 350px;
    border: 1px solid #22564933;
    border-radius: 20px;
  }
  @media (max-width: 1455px) {
    // width: 400px;
    height: 350px;
    border: 2px solid #22564933;
    border-radius: 20px;
  }

  @media (max-width: 1350px) {
    width: 90%;
    height: 320px;
  }
  @media (max-width: 1060px) {
    width: 88%;
    height: 300px;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: 300px;
  }

  @media (max-width: 901px) {
    width: 98%;
    height: 300px;
  }

  @media (max-width: 900px) {
    width: 98%;
    height: 300px;
    // margin-left: 10px;
  }
  @media (max-width: 890px) {
    width: 100%;
    height: 300px;
    // margin-left: 10px;
  }
  @media (max-width: 801px) {
    width: 100%;
    height: 300px;
    // margin-left: 10px;
  }
  @media (max-width: 800px) {
    width: 100%;
    height: 300px;
    // margin-left: 10px;
  }

  @media (max-width: 461px) {
    // width: 340px;
    height: 280px;
  }
  @media (max-width: 425px) {
    // width: 290px;
    height: 220px;
  }
  @media (max-width: 390px) {
    width: 100%;

    height: 215px;
  }

  .investmentsdata {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 30px;

    @media (max-width: 1455px) {
      gap: 15px;
      padding-left: 28px;
    }
    @media (max-width: 1350px) {
      gap: 28px;
      padding-left: 45px;
    }
    @media (max-width: 1060px) {
      gap: 20px;
      padding-left: 30px;
    }
    @media (max-width: 840px) {
      gap: 14px;
      padding-left: 17px;
    }

    @media (max-width: 820px) {
      gap: 14px;
      padding-left: 17px;
    }

    @media (max-width: 460px) {
      gap: 11px;
      padding-left: 20px;
    }
  }

  .progress-bar {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 16px;
    padding: 10px 18px;

    @media (max-width: 1455px) {
      width: 95%;
      max-width: 290px;
      margin: 0 16px;
      padding: 10px 15px;
    }
    @media (max-width: 1350px) {
      width: 94%;
      max-width: 290px;
      margin: 0 12px;
      padding: 10px 40px;
    }
    @media (max-width: 1060px) {
      width: 94%;
      max-width: 290px;
      margin: 0 12px;
      padding: 10px 25px;
    }
    @media (max-width: 1030px) {
      width: 94%;
      padding: 10px 15px;
    }
    @media (max-width: 840px) {
      width: 94%;
      padding: 10px 8px;
    }

    @media (max-width: 820px) {
      width: 98%;
      padding: 10px 0px;
    }

    @media (max-width: 460px) {
      padding-bottom: 35px;
    }
  }
  .main-box {
    width: 100%;
    margin: 10px 0;
  }
  .title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #064a37;

    @media (max-width: 460px) {
      font-size: 14px;
    }
    @media (max-width: 430px) {
      font-size: 12px;
    }
  }

  .valuation-bar {
    height: 10px;
    width: 240px;
    background-color: #d7fdf2;
    margin-top: 20px;
    border-radius: 50px;

    @media (max-width: 460px) {
      height: 9px;
      width: 220px;
      margin-top: 18px;
    }
    @media (max-width: 430px) {
      height: 3px;
      width: 220px;
      margin-top: 15px;
    }
    @media (max-width: 425px) {
      height: 3px;
      width: 200px;
      margin-top: 13px;
    }
    @media (max-width: 360px) {
      height: 3px;
      width: 190px;
      margin-top: 12px;
    }
  }

  .valuation-per {
    position: relative;
    display: block;
    height: 10px;
    width: 240px;
    border-radius: 100%;
    background-color: #2a7e68;
    border-radius: 50px;
    opacity: 1;

    // @media (max-width:860px) {
    //   height: 9px;
    //   width: 200px;
    // }

    @media (max-width: 460px) {
      height: 9px;
      width: 200px;
    }
    @media (max-width: 430px) {
      height: 3px;
      width: 175px;
    }
    @media (max-width: 425px) {
      height: 3px;
      width: 160px;
    }
    @media (max-width: 360px) {
      height: 3px;
      width: 150px;
    }
  }
  .valuation-dolarvalue {
    position: absolute;
    right: -100px;
    top: -15px;
    color: #064a37;
    font-weight: 600;
    font-size: 32px;
    @media (max-width: 1455px) {
      right: -100px;
      top: -15px;
      color: #064a37;
      font-weight: 600;
      font-size: 29px;
    }
    @media (max-width: 1500px) {
      right: -70px;
      top: -13px;
      font-size: 25px;
    }

    @media (max-width: 1350px) {
      right: -90px;
      top: -14px;
      color: #064a37;
      font-weight: 600;
      font-size: 24px;
    }

    @media (max-width: 1060px) {
      right: -75px;
      top: -14px;

      font-size: 24px;
    }
    @media (max-width: 901px) {
      right: -65px;
      top: -10px;

      font-size: 22px;
    }
    @media (max-width: 860px) {
      right: -60px;
      top: -10px;

      font-size: 20px;
    }
    @media (max-width: 800px) {
      right: -55px;
      top: -10px;

      font-size: 18px;
    }

    @media (max-width: 460px) {
      right: -73px;
      top: -10px;
      font-size: 18px;
    }

    @media (max-width: 430px) {
      right: -95px;
      top: -10px;
      font-size: 16px;

      @media (max-width: 425px) {
        right: -87px;
        top: -10px;
        font-size: 16px;
      }
    }
  }
  .target-bar {
    height: 10px;
    width: 190px;
    background-color: #d7fdf2;
    margin-top: 20px;
    border-radius: 50px;

    @media (max-width: 460px) {
      height: 9px;
      width: 180px;
    }
    @media (max-width: 430px) {
      height: 3px;
      width: 195px;

      @media (max-width: 360px) {
        height: 2px;
        width: 190px;
      }
    }
  }
  .target-per {
    position: relative;
    display: block;
    height: 10px;
    width: 190px;

    background-color: #2a7e68;
    border-radius: 50px;
    opacity: 1;

    @media (max-width: 460px) {
      height: 8px;
      width: 170px;
    }
    @media (max-width: 430px) {
      height: 3px;
      width: 112px;
    }
    @media (max-width: 360px) {
      height: 3px;
      width: 100px;
    }
  }
  .target-dolarvalue {
    position: absolute;
    right: -110px;
    top: -15px;
    color: #064a37;
    font-size: 32px;
    font-weight: 600;

    @media (max-width: 1455px) {
      font-size: 29px;
    }
    @media (max-width: 1500px) {
      right: -90px;
      top: -13px;
      font-size: 25px;
    }

    @media (max-width: 1350px) {
      right: -110px;
      top: -14px;
      font-size: 24px;
    }
    @media (max-width: 1060px) {
      right: -80px;
      top: -14px;
      font-size: 24px;
    }

    @media (max-width: 901px) {
      right: -70px;
      top: -12px;
      font-size: 22px;
    }
    @media (max-width: 800px) {
      right: -60px;
      top: -9px;
      font-size: 18px;
    }

    @media (max-width: 460px) {
      right: -85px;
      top: -10px;
      font-size: 21px;
    }
    @media (max-width: 430px) {
      right: -135px;
      top: -10px;
      font-size: 16px;
    }
  }

  .investerimg {
    width: 100px;
    height: 100px;

    @media (max-width: 1455px) {
      width: 90px;
      height: 90px;
    }

    @media (max-width: 1350px) {
      width: 85px;
      height: 85px;
    }
    @media (max-width: 460px) {
      width: 75px;
      height: 75px;
    }

    @media (max-width: 430px) {
      width: 58px;
      height: 58px;
    }
  }

  .text {
    h5 {
      font-size: 36px;
      color: #225649;
      @media (max-width: 1455px) {
        font-size: 33px;
      }

      @media (max-width: 1367px) {
        font-size: 28px;
      }

      @media (max-width: 1350px) {
        font-size: 25px;
      }

      @media (max-width: 460px) {
        font-size: 22px;
      }
      @media (max-width: 430px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 24px;
      color: #225649;

      @media (max-width: 1450px) {
        font-size: 23px;
      }

      @media (max-width: 1367px) {
        font-size: 22px;
      }

      @media (max-width: 1350px) {
        font-size: 21px;
      }

      @media (max-width: 460px) {
        font-size: 20px;
      }
      @media (max-width: 430px) {
        font-size: 14px;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    transform: translateY(-30px);

    @media (max-width: 1920px) {
      display: none;
    }
    @media (max-width: 1290px) {
      display: block;
    }
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    transform: translateY(40px);

    @media (max-width: 450px) {
      transform: translateY(50px);
    }

    @media (max-width: 428px) {
      transform: translateY(50px);
    }


  }


.compaign-slide{
  width: 60%;
  height: 5vh;
}


}
