.tabs-section-sizing{
    // width: 51vw;
    background: #FCFCFC 0% 0% no-repeat padding-box;
// box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.039);
border: 1px solid #00000000;
padding: 0px 20px;
border-radius: 10px;
height: 100%;
.tab-sec{
    .tabs{

        .tab{
            text-align: center;
// font: normal normal 600 15px/23px Poppins;

color: #171717;

       max-width:10.9vw !important;

        padding: 0px 10px !important;

        font-size: 13px !important;
        @media(max-width: 1890px){
            max-width: 10.9vw !important;
        }
        @media(max-width: 1876px){
            max-width: 10.9vw !important;
            font-size: 12px !important;
        }
        @media(max-width: 1770px){
            max-width: 10vw !important;
            font-size: 12px !important;
        }
        @media(max-width: 1740px){
            max-width: 10vw !important;
            font-size: 11px !important;
        }
        @media(max-width: 1708px){
            max-width: 10.9vw !important;
            font-size: 11px !important;
        }
        @media(max-width: 1645px){
            max-width: 9vw !important;
            font-size: 11px !important;
        }
        @media(max-width: 1390px){
            max-width: 8.9vw !important;
            font-size: 11px !important;
        }
        @media(max-width: 1330px){
            max-width: 8.5vw !important;
            font-size: 11px !important;
        }
        @media(max-width: 1240px){
            max-width: 10.9vw !important;
            font-size: 12px !important;
        }
        @media(max-width: 1160px){
            max-width: 10.5vw !important;
            font-size: 12px !important;
        }
       
        @media(max-width: 1090px){
            max-width: 19.9vw !important;
            font-size: 14px !important;
        }
        @media(max-width: 1066px){
            max-width: 19.9vw !important;
            font-size: 13.8px !important;
        }
         @media(max-width: 1052px){
            max-width: 19.9vw !important;
            font-size: 13.5px !important;
        }
        @media(max-width: 970px){
            max-width: 19vw !important;
            font-size: 13.5px !important;
        }
        @media(max-width: 923px){
            max-width: 19vw !important;
            font-size: 13px !important;
        }
        @media(max-width: 910px){
            max-width: 18vw !important;
            font-size: 13px !important;
        }
        @media(max-width: 765px){
            max-width: 17.5vw !important;
            font-size: 13px !important;
        }
        @media(max-width: 625px){
            max-width: 17vw !important;
            font-size: 12px !important;
        }
        // @media(max-width: 610px){
        //     max-width: 100px !important;
        //     font-size: 9px !important;
        // }

        }
     .tab-sec{
        display: none;
     }
    }

}
}
#tabname{
    width: auto;
}



.heading-icon-section{
    padding: 10px  0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#tabname{
    padding-left: 20px;
}


