.investor-invested-bars{
    width: 100%;
    display: flex;
    gap: 20px;
    // padding: 0px 25px;
    background-color: #F5F5F5;
    @media(max-width:1450px){
        gap: 15px;
    }
    @media(max-width:500px){
        gap: 10px;
        flex-wrap: wrap;
    }
}
