.ResponsiveFounderNavbar{
    background-color: #FCFCFC;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 10vh;
    position:fixed;
    z-index: 999;
    .investor-sideview{
        background: #FCFCFC 0% 0% no-repeat padding-box;
border: 1px solid #F7F4F4;
border-radius: 4px;
    }
   

    .hamburger{
        // display: none;
    }

    .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90vh;
    top: 10vh;
    left: -100vw;
    flex-direction: column;
    gap:30px;
    width: 100vw;
z-index: 9999;
    }
    .active{
        left: 0;
        background-color:#FFFFFF;
        z-index: 9999;
    }
}