 
.chart-main{
.revenue-content h3{
    text-align: left;
   //  font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0.2px;
    color: #171717;
    opacity: 1;
 }
 .xaxisunits p{
    position: absolute;
    left: 15rem;
    font: normal normal medium 12px/18px Poppins;
 }
 .yaxisunits p{
    position: absolute;
    bottom: 11rem;
    left: -3.2rem;
    font: normal normal medium 12px/18px Poppins;
    transform: rotate(-90deg);
    @media (max-width: 1800px){
       
      bottom: 6rem;
    left: -3rem;
    }
 }
 
    position: relative;
 }