// footer{
//     width: 100%;
//     background-color: #002E21;
//     padding: 5vh 0px;
//     color: white;
//     .link{
//         color: inherit;
//         text-decoration: none;
//     }
//     .redirection{
//         display: flex;
//         gap: 10px;
//     }
   
// }

// @media(max-width:900px){
// footer{
//     padding: 3vh;
// }
//     .css-ybhr8v-MuiGrid-root>.MuiGrid-item{
//         display: flex;
//         align-items:center;
//         flex-direction: column;
//     }
//     #root > div > div > footer > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.MuiGrid-grid-md-3.MuiGrid-grid-lg-3.grid-item.css-6w982j-MuiGrid-root > div.MuiBox-root.css-0{
//         text-align: center;
//     }
// }

// #root > div > footer > div > div{
//     max-width: 1400px;
//     @media(max-width:1450px){
//         max-width: 1100px;
//     }
// }
// .css-10fa0c6-MuiGrid-root>.MuiGrid-item{
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     font-size: 18px;
//     @media(max-width:1400px){
//         gap: 0px;
//     }
//     @media(max-width:1366px){
//         font-size: 12px;
//     }
// }

footer{
    width: 100%;
    background-color: #002E21;
    color: white;
    padding: 80px 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6vw;
    overflow-x: hidden;
    @media (max-width:1690px) {
        padding: 60px 80px;
        gap: 5vw;
    }
    @media (max-width:1282px) {
        padding: 60px 60px;
        gap: 4vw; 
    }
    @media (max-width:1163px) {
        padding: 60px 20px;
        gap: 3vw; 
    }
    @media (max-width:1020px) {
       flex-wrap: wrap;
       gap: 5vw;
    }
    @media (max-width:700px) {
        
        gap: 2vw;
     }
     @media (max-width:655px) {
        align-items: center;
        flex-direction: column;
        padding: 60px 0px;
        gap: 5vw;
     }
    .footer-icon{
        width: 25px;
    }
    h4{
        font-size: 20px;
        @media (max-width:1690px) {
            font-size: 18px;
        }
        @media (max-width:1325px) {
            font-size: 16px;
        }
        @media (max-width:1282px) {
            font-size: 15px;
        }
        @media (max-width:655px) {
            font-size: 18px;         
         }
    }
    p{
        font-size: 18px;
        @media (max-width:1690px) {
            font-size: 16px;
        }
        @media (max-width:1416px) {

            font-size: 15px;
        }
        @media (max-width:655px) {
            text-align: center;
            font-size: 15px;
         }
    }
    .venture-capital{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        .venture-para{
            width: 330px;
            // width: 17vw;
            line-height: 30px;
            @media (max-width:1416px) {
                width: 275px;
           
            }
            @media (max-width:655px) {
                width: 333px;
                
             }
            p{
                width: 100%;
             
            }
        }
        
    }
    .navigation{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        .navigation-links{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        }
    }
    .get-in-touch{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        .com{
            display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        .buikit{
            display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        }
        }
    }
    .terms-conditions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        @media (max-width:655px) {
            align-items: center;
            
         }
        .footer-sociallinks{
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
        }
    }
}
