@import "../../../../App.scss";

.hero-main {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .mainSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    // overflow-x: hidden;

    @media (max-width: 1500px) {
      // padding-top:16vh;
    }
    @media (max-width: 800px) {
      // padding-top:15vh;
    }

    @media (max-width: 1000px) {
      width: 90%;
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    .responsive-para {
      p {
        font-size: 24px;
        width: 717px;
        // height: 114px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
        padding-top: 20px;
      }

      @media (max-width: 1920px) {
        display: none;
      }
      @media (max-width: 1000px) {
        display: block;
        text-align: center;
        p {
          font-size: 18px;
          width: 717px;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding-top: 40px;
        }
      }

      @media (max-width: 750px) {
        p {
          font-size: 18px;
          width: 600px;
          // width: 100%;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding-top: 40px;
        }
      }

      @media (max-width: 650px) {
        p {
          font-size: 16px;
          width: 500px;
          // width: 100%;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding-top: 40px;
        }
      }
      @media (max-width: 565px) {
        p {
          font-size: 15px;
          width: 450px;
          // width: 100%;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding-top: 40px;
        }
      }

      @media (max-width: 500px) {
        p {
          font-size: 14px;
          width: 400px;
          // width: 100%;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding-top: 35px;
        }
      }

      @media (max-width: 432px) {
        p {
          font-size: 14px;
          width: 400px;
          // width: 100%;
          letter-spacing: 0px;
          color: #003122;
          opacity: 0.7;
          padding: 25px 30px 0px 30px;
        }
      }

      @media (max-width: 381px) {
        p {
          font-size: 13px;
          width: 355px;
          padding: 25px 20px 0px 20px;
        
        }
      }
    }
  }

  .contentbox {
    display: flex;
    flex-direction: column;
    gap: 2px;

    h3 {
      font-size: 40px;
      font-weight: 100;
      color: #064a37;
    }
    h1 {
      font-size: 58px;
      color: #064a37;
      text-transform: uppercase;
      opacity: 1;
      padding-bottom: 30px;
    }
    p {
      font-size: 24px;
      width: 717px;
      // height: 114px;
      letter-spacing: 0px;
      color: #003122;
      opacity: 0.7;
      padding-top: 20px;
    }

    @media (max-width: 1600px) {
      h3 {
        font-size: 38px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 55px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        padding-bottom: 26px;
      }
      p {
        font-size: 23px;
        width: 690px;
        height: 110px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
        padding-top: 19px;
      }
    }

    @media (max-width: 1530px) {
      h3 {
        font-size: 37px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 52px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        padding-bottom: 23px;
      }
      p {
        font-size: 21px;
        width: 690px;
        height: 110px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
        padding-top: 15px;
      }
    }

    @media (max-width: 1450px) {
      h3 {
        font-size: 35px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 50px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        padding-bottom: 22px;
      }
      p {
        font-size: 21px;
        width: 650px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
        padding-top: 13px;
      }
    }
    @media (max-width: 1386px) {
      h3 {
        font-size: 32px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 45px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        width: 610px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
        padding-top: 12px;
      }
    }
    @media (max-width: 1340px) {
      h3 {
        font-size: 30px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 42px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
      }
      p {
        font-size: 19px;
        width: 610px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
      }
    }
    @media (max-width: 1200px) {
      h3 {
        font-size: 28px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 40px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
      }
      p {
        font-size: 18px;
        width: 590px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
      }
    }

    @media (max-width: 1160px) {
      h3 {
        font-size: 25px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 36px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
      }
      p {
        font-size: 16px;
        width: 500px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
      }
    }

    @media (max-width: 1025px) {
      h3 {
        font-size: 21px;
        font-weight: 100;
        color: #064a37;
      }
      h1 {
        font-size: 32px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
      }
      p {
        font-size: 15px;
        width: 500px;
        height: 100px;
        letter-spacing: 0px;
        color: #003122;
        opacity: 0.7;
      }
    }

    @media (max-width: 1000px) {
      p {
        display: none;
      }

      h3 {
        font-size: 29px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 41px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 13px;
      }
    }
    @media (max-width: 713px) {
      p {
        display: none;
      }

      h3 {
        font-size: 27px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 39px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 12px;
      }
    }

    @media (max-width: 650px) {
      p {
        display: none;
      }

      h3 {
        font-size: 24px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 34px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 12px;
      }
    }

    @media (max-width: 565px) {
      p {
        display: none;
      }

      h3 {
        font-size: 20px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 30px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 12px;
      }
    }

    @media (max-width: 500px) {
      p {
        display: none;
      }

      h3 {
        font-size: 18px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 26px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 430px) {
      p {
        display: none;
      }

      h3 {
        font-size: 17px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 23px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 381px) {
      p {
        display: none;
      }

      h3 {
        font-size: 15px;
        font-weight: 100;
        color: #064a37;
        text-align: center;
      }
      h1 {
        font-size: 20px;
        color: #064a37;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        padding-bottom: 5px;
      }
    }
  }

  .imgContainer {
    width: 40%;

    @media (max-width: 1000px) {
      width: 60%;
      padding-top: 40px;
    }
    @media (max-width: 713px) {
      width: 59%;
      padding-top: 40px;
    }
  }

  .imgContainer img {
    width: 100%;
    // margin: 0 auto;
    // display: block;
  }

  .dolarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding: 130px 180px;
    gap: 70px;

    @media (max-width: 1500px) {
      // padding: 130px 160px;
      gap: 50px;
    }
    @media (max-width: 1450px) {
      // padding: 100px 120px;
      gap: 48px;
    }
    @media (max-width: 985px) {
      padding: 0px 60px;
      gap: 48px;
    }

    @media (max-width: 822px) {
      padding: 0px 60px;
      gap: 33px;
    }
    @media (max-width: 681px) {
      // padding: 80px 70px;
      gap: 26px;
    }
    @media (max-width: 620px) {
      // padding: 78px 60px;
      gap: 24px;
    }
    @media (max-width: 590px) {
      // padding: 75px 50px;
      gap: 24px;
    }

    @media (max-width: 570px) {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      // padding: 70px 40px;
      gap: 24px;
    }

    @media (max-width: 450px) {
      padding: 0px 35px;
      gap: 22px;
    }

    @media (max-width: 390px) {
      padding: 0px 30px;
      gap: 20px;
    }
    @media (max-width: 376px) {
      padding: 0px 25px;
      gap: 15px;
    }
    @media (max-width: 362px) {
      padding:0px 20px;
      gap: 13px;
    }
    @media (max-width: 349px) {
      padding:0px 16px;
      gap: 12px;
    }

    .dolaritems1 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      h2 {
        color: #225649;
        font-size: 48px;
        // font: normal normal bold 35px/20px Poppins;
        font-weight: 900;
      }

      p {
        color: #096e52;
        font-size: 24px;
      }
    }

    @media (max-width: 1690px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        h2 {
          color: #225649;
          font-size: 44px;
          // font: normal normal bold 35px/20px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 20px;
        }
      }
    }
    @media (max-width: 1400px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        h2 {
          color: #225649;
          font-size: 40px;
          // font: normal normal bold 32px/20px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 18px;
        }
      }
    }

    @media (max-width: 1370px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        h2 {
          font-size: 30px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }
      }
    }
    @media (max-width: 1284px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        h2 {
          font-size: 25px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 15px;
        }
      }
    }
    @media (max-width: 1142px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 23px;
        h2 {
          font-size: 23px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1095px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 20px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 13px;
        }
      }
    }
    @media (max-width: 1049px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
        h2 {
          font-size: 18px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 13px;
        }
      }
    }

    @media (max-width: 904px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
        h2 {
          font-size: 24px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 15px;
        }
      }
    }

    @media (max-width: 822px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        h2 {
          font-size: 20px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 13px;
        }
      }
    }

    @media (max-width: 681px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        h2 {
          font-size: 18px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 12px;
        }
      }
    }

    @media (max-width: 417px) {
      .dolaritems1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        h2 {
          font-size: 16px;
          //  font: normal normal bold 30px/10px Poppins;
          font-weight: 900;
        }

        p {
          color: #096e52;
          font-size: 11px;
        }
      }
    }
  }
}
