#root > div > div.dashboard-content > div.adminHomepage-content > div.admin-sideContent > div > div.MuiTabs-root.tabs.css-1ujnqem-MuiTabs-root > div > span{
    display: none;
}
.founders{
    display: flex;
    flex-direction: column;
    gap: 20px;
}