.piechart {
  width: 50%;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #2a9d8f0f;
  padding: 20px;

  h3 {
    font-size: 24px;
  }
  .investment-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-left: auto;
    position: relative;

    .center-data {
      position: absolute;
      left: 27%;
      top: 42%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;

      p {
        font-size: 22px;
      }

      h4 {
        font-size: 28px;
      }
    }

    .data {
      margin-left: -100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sector-name {
      display: flex;
      align-items: center;
      gap: 15px;

      .color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      p {
        display: flex;
        gap: 10px;
        font-size: 20px;

        h5 {
          font-size: 24px;
        }
      }
    }
  }
}
#root
  > div
  > div.dashboard-content
  > div:nth-child(3)
  > div.piechart
  > div
  > div.recharts-wrapper {
  width: 80% !important;
  height: auto !important;
}
#root
  > div
  > div.dashboard-content
  > div:nth-child(3)
  > div.piechart
  > div
  > div.recharts-wrapper
  > svg {
  width: 100% !important;
  height: auto !important;
}

.test {
  width: 100px;
  height: 100px;
}

//MEDIA QUARY:

@media screen and (max-width: 1800px) {
  .piechart {
    h3 {
      font-size: 22px;
      color: #1a1a1a;
    }
    .investment-details {
      svg {
        width: 450px;
      }

      .center-data {
        left: 30%;
      }

      .sector-name {
        margin-left: -70px;

        p {
          h5 {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .piechart {
    height: 42vh;
    h3 {
      font-size: 22px;
      color: #1a1a1a;
    }
    .investment-details {
      svg {
        width: 430px;
      }

      .center-data {
        left: 26%;
        p{
          font-size: 20px;
        }
        h4{
          font-size: 22px;
        }
      }

      .sector-name {
        margin-left: -70px;

        h5 {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .piechart {
    height: 35vh;
    h3 {
      font-size: 22px;
      color: #1a1a1a;
    }
    .investment-details {
      margin-top: -80px;
      svg {
        width: 400px;
        position: absolute;
        top: -10px;
        left: -30px;
      }

      .center-data {
        left: 23%;
        top: 41%;
        p{
          font-size: 18px;
        }
        h4{
          font-size: 20px;
        }
      }

      .sector-name {
        margin-left: -120px;

        p {
          font-size: 16px;
          h5 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1367px) {
  .piechart {
    height: 21vw;

    h3 {
      font-size: 18px;
      color: #1a1a1a;
    }
    .investment-details {
      margin-top: -50px;
      svg {
        width: 360px;
        position: absolute;
        top: -40px;
        left: -30px;
      }

      .center-data {
        left: 21%;
        top: 35%;

        p{
          font-size: 16px;
        }
        h4{
          font-size: 18px;
        }
      }

      .data {
        margin-top: -10vh;

        .sector-name {
          margin-left: -120px;
          gap: 10px;

          p {
            font-size: 16px;
            h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .piechart {
    .investment-details {
      .center-data {
        left: 18%;
        top: 35%;
      }
    }
  }
}
@media (max-width: 1150px) {
  .piechart {
    height: 25vw;
    .investment-details {
      .center-data {
        left: 20%;
        top: 33%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .piechart {
    height: 30vw;

    h3 {
      font-size: 18px;
      color: #1a1a1a;
    }
    .investment-details {
      svg {
        width: 320px;
        position: absolute;
        top: -50px;
        left: -10px;
      }

      .center-data {
        left: 17%;
        top: 32%;

        p {
          font-size: 16px;
        }
        h4 {
          font-size: 20px;
        }
      }

      .data {
        margin-top: -10vh;

        .sector-name {
          margin-left: -140px;
          gap: 10px;

          p {
            font-size: 16px;
            h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media(max-width:850px){
  .piechart {
    height: 32vw;

    .investment-details {
      svg {
        width: 300px;
        position: absolute;
        top: -50px;
        left: -10px;
      }

      .center-data {
        left: 16%;
        top: 31%;
      }
    }
  }
}
@media(max-width:500px){
  .piechart{
    width: 100%;
    height: 30vh;
    h3 {
      font-size: 16px;
    }
    .investment-details {
      svg {
        width: 280px;
        position: absolute;
        top: -60px;
        left: -10px;
      }

      .center-data {
        left: 17%;
        top: 30%;

        p {
          font-size: 14px;
        }
        h4 {
          font-size: 16px;
        }
      }

      .data {
        margin-top: -12vh;

        .sector-name {
          margin-left: -140px;
          gap: 5px;

          p {
            font-size: 16px;
            h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}