@import "../../../../../App.scss";
.dashboard-cards {
  width: 100%;
  // padding: 0px 30px;
  display: flex;
  gap: 20px;
  color: $white;
  h4{
    color: #464646;
    font-size: 24px;
    font-weight: 600;
  }
  .dashboard-card {
    width: 24.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
    background-color: #fcfcfc;
    border: 1px solid #f1f5f7;
    .card-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .right-data {
          display: flex;
          gap: 10px;
          img {
            height: 25px;
          }

          p {
            color: #464646;
            font-size: 18px;
          }
        }
      }
      .left {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        p {
          color: #464646;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}
@media (max-width: 1700px) {
  .dashboard-cards {
    gap: 20px;
    h4 {
      font-size: 22px;
    }
    .dashboard-card {
      padding: 20px;
      gap: 20px;
      .card-data {
        .right {
          gap: 15px;

          .right-data {
            gap: 10px;
            img {
              height: 22px;
            }

            p {
              font-size: 16px;
            }
          }
        }
        .left {
          gap: 5px;
          p {
            font-size: 22px;
            // color: white;
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .dashboard-cards {
    gap: 15px;
    h4 {
      font-size: 20px;
    }
    .dashboard-card {
      padding: 15px;
      gap: 15px;
      .card-data {
        .right {
          gap: 15px;

          .right-data {
            gap: 10px;

            p {
              font-size: 16px;
            }
          }
        }
        .left {
          p {
            font-size: 20px;
            // color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 1390px) {
  .dashboard-cards {
    gap: 12px;
    h4 {
      font-size: 18px;
    }
    .dashboard-card {
      padding: 12px;
      gap: 15px;
      .card-data {
        .right {
          gap: 10px;

          .right-data {
            gap: 10px;
            img {
              height: 20px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        .left {
          p {
            font-size: 18px;
            // color: white;
          }
        }
      }
    }
  }
}
