.main{
    width: 100%;
    border-bottom: none;
    .head{
        display: flex;
        justify-content: space-between;
        
        h3{
            // font: normal normal bold 25px/36px Poppins;
letter-spacing: 0px;
color: #225649;
font-size: 25px;
@media(max-width: 550px){
    font-size: 24px;
}
@media(max-width: 500px){
    font-size: 23px;
}
@media(max-width: 450px){
    font-size: 22px;
}
@media(max-width: 400px){
    font-size: 21px;
}
@media(max-width: 360px){
    font-size: 20px;
}

        }


    }
    .head-first{
        margin: 20px 0;
        h3{
            font: normal normal medium 18px/36px Poppins;
letter-spacing: 0px;
color: #225649;

        }
    }
    .monthly-table{
        min-width: 532px;
        @media(max-width:571px){
            min-width: 520px;
        }
        @media(max-width:559px){
            min-width: 423px;
        }
        @media(max-width:462px){
            min-width: 390px;
        }
        @media(max-width:430px){
            min-width: 300px;
        }
    }
    .table-row{
        padding-bottom: 30px;
    }
    .data{
        
        display: flex;
        justify-content: space-around;
        overflow: scroll;
        @media(max-width:600px){
            flex-direction: column;
        }
        
    }
    .tabledata{
        font-size: 16px;
        text-align: center;
        @media(max-width:1350px){
            font-size: 15px;
        }
        @media(max-width:1290px){
            font-size: 14px;
        }
        @media(max-width:1250px){
            font-size: 13px;
        }
        @media(max-width:484px){
            font-size: 12px;
        }
        @media(max-width:462px){
            font-size: 11px;
        }
        @media(max-width:440px){
            font-size: 10px;
        }
        @media(max-width:419px){
            padding: 10px;
        }
        @media(max-width:359px){
            padding: 8px;
        }
        
        
    }

}
